**Script compacto sobrepeso - Envase Soluble**

In [217]:
import os
import numpy as np
import pandas as pd
import warnings
import funciones_tpm as fc

In [218]:
#Ocultar advertencias/warnings mas no los borra
warnings.filterwarnings("ignore", category=pd.errors.DtypeWarning)

In [219]:
#Año evaluado
Añoeval = 2025

**Variables globales de las rutas necesarias**

In [220]:
#Rutas del archivo de la COOISPI
Ruta_COOISPI = r'\\10.28.5.232\s3-1colcafeci-servicios-jtc\TPM\Colcafé Formularios\BD Sobrepeso\COOISPI\Datos_COOISPI_Env_Sol.csv'                                    # Ruta COOISPI en csv

#Rutas del archivo del EGE
Ruta_Archivo_EGE = r'\\10.28.5.232\s3-1colcafeci-servicios-jtc\TPM\Colcafé Formularios\BD Sobrepeso\Backup_BD_Salones\Datos_Env_Soluble_2021.csv'                     # Ruta Envase Soluble

#Rutas del archivo de Novedades
Ruta_Novedades = r'\\10.28.5.232\s3-1colcafeci-servicios-jtc\TPM\Colcafé Formularios\BD Sobrepeso\Consolidados_Salones\Envase_Soluble\Env_Soluble_Novedades_V2.xlsx'  # Ruta del archivo de Novedades

#Rutas del archivo de Consolidados
Ruta_Consolidados = r'\\10.28.5.232\s3-1colcafeci-servicios-jtc\TPM\Colcafé Formularios\BD Sobrepeso\Consolidados_Salones\Envase_Soluble\Consolidado_V2.xlsx'        # Ruta del archivo de Consolidados

#Ruta de salida
Ruta_Env_Sol = r'G:\.shortcut-targets-by-id\1rqpfbdZ6z51epFv6ZwognhckW7HqBMjN\SIRI_2024_INFORMES_SOBREPESO\INFORME_ENVASE_SOLUBLE_MEDELLIN'                          # DB_Envase_Soluble_Out_vf.csv

#Ruta - Metas de Sobrepeso - Env Soluble
Ruta_Metas_Sobrepeso = r'G:\.shortcut-targets-by-id\1rqpfbdZ6z51epFv6ZwognhckW7HqBMjN\SIRI_2024_INFORMES_SOBREPESO\INFORME_ENVASE_SOLUBLE_MEDELLIN/Metas_Env_Sol_2025.xlsx'  #Ruta del archivo metas sobrepeso


#Validacion de existencia de las rutas
for nombre, ruta in {
    "Ruta_COOISPI": Ruta_COOISPI,
    "Ruta_Archivo_EGE": Ruta_Archivo_EGE,
    "Ruta_Novedades": Ruta_Novedades,
    "Ruta_Consolidados": Ruta_Consolidados,
    "Ruta_Env_Sol": Ruta_Env_Sol,
    "Ruta_Metas_Sobrepeso": Ruta_Metas_Sobrepeso,
}.items():
  if not os.path.exists(ruta):
    print(f"La ruta '{nombre}' no fue encontrada.")
  else:
    print(f"Ruta '{nombre}' encontrada.")

Ruta 'Ruta_COOISPI' encontrada.
Ruta 'Ruta_Archivo_EGE' encontrada.
Ruta 'Ruta_Novedades' encontrada.
Ruta 'Ruta_Consolidados' encontrada.
Ruta 'Ruta_Env_Sol' encontrada.
Ruta 'Ruta_Metas_Sobrepeso' encontrada.

In [221]:
#leer_archivo COOISPI csv
df_COOISPI_COMB = fc.leer_archivo(Ruta_COOISPI)

Leyendo archivo...

In [222]:
#Convertir columna 'Codigo' a str para futuros procesor (merge y tabla pivote)
df_COOISPI_COMB['Codigo'] = df_COOISPI_COMB['Codigo'].astype(str)

In [223]:
#Funcion para leer archivo el EGE/TPM
df_Env_Sol = fc.leer_archivo(Ruta_Archivo_EGE, 'Datos')
print(df_Env_Sol.shape)

Leyendo archivo...
(14512, 262)

In [224]:
df_Env_Sol_Metas = fc.leer_archivo(Ruta_Metas_Sobrepeso, 'Hoja1')
print(df_Env_Sol_Metas.head())

Leyendo archivo...
    Codigo                      Código y Descrip. / Producto:  Peso Neto  \
0  1003350                  ['1003350 COLCAFE ST 250 X 12 3']      250.0
1  1003351  ['1003351 Cafe COLCAFE vainilla 50g 24fco.'\n ...       50.0
2  1003353               ['1003353 COLCAFE ST 170 X 12 2.04']      170.0
3  1003354                  ['1003354 COLCAFE ST 85X24 2.04']       85.0
4  1003355                 ['1003355 COLCAFE ST 50 X 24 1.2']       50.0

   Meta Sobrepeso  Linea
0           0.010    NaN
1           0.015    NaN
2           0.010    NaN
3           0.014    NaN
4           0.012    NaN

In [225]:
df_Env_Sol.head()

,Número,Dia,Mes:,Año:,Semana:,Turno:,Hora de Inicio:,Hora Final:,Máquina / Equipo:,Código y Descrip. / Producto:,...,Apariencia\nTapadora Ev,Apariencia\nEtiquetadora Ev,Apariencia\nGenerica Ev,Legal Contractual\nPeso min,Legal Contractual\nMarcación min,Legal Contractual\nOtros min,Legal Contractual\nPeso EV,Legal Contractual\nMarcación Ev,Legal Contractual\nOtros Ev,Kg Producidos (Conforme)
0,34242,4,Enero,2021,1.0,1,05:35:00,07:22:05,Linea B,1033009 Cafe COLCAFE granulado fco 50g 60un,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183.2400
1,34243,4,Enero,2021,1.0,1,06:10:18,10:34:43,Linea A,1026755 Coffee Crem Colcafe 650g 12un,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,6289.4172
2,34244,4,Enero,2021,1.0,1,10:34:43,12:25:05,Linea A,1003408 COFFEE CREM 175X24 4.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,717.6960
3,34245,4,Enero,2021,1.0,1,12:25:05,13:19:38,Linea A,1003409 COFFEE CREM 290X24 6.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,769.8888
4,34246,4,Enero,2021,1.0,1,07:22:05,13:16:26,Linea B,1014989 Cafe COLCAFE granulado fco 50g 24un,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,956.6640

In [226]:
#Reemplazar el nombre de la columna "Día:" y "Mes_N" para estandarizar los scripts
df_Env_Sol.rename(columns={"Dia ":"Dia", "Mes_N":"IdMes"}, inplace=True)

In [227]:
#eliminar_filas_vacias
numeros_vacios_filtrados = fc.eliminar_filas_vacias(df_Env_Sol, 'Número')
numeros_vacios_filtrados.head()

Empty DataFrame
Columns: [Número, Dia, Mes:, Año:, Semana:, Turno:, Hora de Inicio:, Hora Final:, Máquina / Equipo:, Código y Descrip. / Producto:, Operario Responsable:, Coordinador de Turno:, Orden de Producción:, Unidades Producidas (Conformes) :, Peso Promedio de la unidad (K):, Gramaje (K):, Mantenimiento Planeado, Reuniones / Formaciones, Alimentacion, Mantenimiento Autónomo, Ensayos, Pausas Activas, Montajes, Simulacros (Emergencia), TOTAL PÉRDIDAS PROGRAMADAS, Eléctricas min, Mecánicas min, Instrumentación min, TOTAL AVERIAS min, Cambio de Formato min, Cambio de Referencia min, Aseos (No Programados) min, TOTAL ALISTAMIENTOS Y AJUSTES min, Cambio de Bobina min, Cambio de Cuchillas min, Cambio de Cintas/Tinta/Resella/Tin-tie min, Cambio de Filtros min, Cambio de Cauchos, Teflones min, Cambio de Fechadores min, CAMBIO DE ELEMENTOS Y PIEZAS min, Arranques min, TOTAL ARRANQUES min, Locativo min, Espera por Instrucciones min, Esperas min, Administrativas (Logística Externa) min, Logística (Interna) min, Falta de Habilidad min, Emergencias min, TOTAL ADMINISTRATIVAS min, Falta de Personal min, TOTAL ORG DE LÍNEA min, Inocuidad/HACCP min, Apariencia min, Conservación min, Funcionalidad min, Propiedades Físico - Químicas min, Legal - Contractual min, Material Defectuoso min, TOTAL AJUSTES DE CALIDAD min, Energía min, Agua min, Nitrógeno min, Vapor min, Refrigeración min, Gas/ACPM min, Conectividad min, Aire Comprimido min, TOTAL SERVICIOS min, TOTAL PÉRDIDAS DE DISPONIBILIDAD min, PEQUEÑAS PARADAS (Paros <= 5 min) min, VELOCIDAD REDUCIDA, TOTAL PÉRDIDAS DE DESEMPEÑO O RENDIMIENTO, Reproceso, No Reprocesable, TOTAL UNIDADES DEFECTUOSAS, Baja Velocidad, Autorizado por:, Eléctricas EV, Mecánicas EV, Instrumentación EV, TOTAL AVERIAS EV, Cambio de Formato EV, Cambio de Referencia EV, Aseos (No Programados) EV, TOTAL ALISTAMIENTOS Y AJUSTES EV, Cambio de Bobina EV, Cambio de Cuchillas EV, Cambio de Cintas/Tinta/Resella/Tin-tie EV, Cambio de Filtros EV, Cambio de Cauchos, Teflones EV, Cambio de Fechadores EV, CAMBIO DE ELEMENTOS Y PIEZAS EV, Arranques EV, TOTAL ARRANQUES EV, Locativo EV, Espera por Instrucciones EV, Esperas EV, Administrativas (Logística Externa) EV, Logística (Interna) EV, ...]
Index: []

[0 rows x 262 columns]

In [228]:
df_Env_Sol.shape

(14512, 262)

In [229]:
#crear_fecha
df_Env_Sol = fc.crear_fecha(df_Env_Sol)
print(df_Env_Sol.shape)
df_Env_Sol.head(2)

(14512, 264)

,Número,Dia,Mes:,Año:,Semana:,Turno:,Hora de Inicio:,Hora Final:,Máquina / Equipo:,Código y Descrip. / Producto:,...,Apariencia\nGenerica Ev,Legal Contractual\nPeso min,Legal Contractual\nMarcación min,Legal Contractual\nOtros min,Legal Contractual\nPeso EV,Legal Contractual\nMarcación Ev,Legal Contractual\nOtros Ev,Kg Producidos (Conforme),IdMes,Fecha
0,34242,4,Enero,2021,1.0,1,05:35:00,07:22:05,Linea B,1033009 Cafe COLCAFE granulado fco 50g 60un,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183.2400,1,2021-01-04
1,34243,4,Enero,2021,1.0,1,06:10:18,10:34:43,Linea A,1026755 Coffee Crem Colcafe 650g 12un,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,6289.4172,1,2021-01-04

In [230]:
#Tomar solo las columnas de interes del informe de Envase Soluble para el sobrepeso
columnas=['Número','Dia','Fecha','Mes:','IdMes','Año:','Máquina / Equipo:','Semana:','Turno:','Código y Descrip. / Producto:','Unidades Producidas (Conformes) :', 'Peso Promedio de la unidad (K):','Gramaje (K):']
df_Env_Sol = df_Env_Sol[columnas]
df_Env_Sol.columns

Index(['Número', 'Dia', 'Fecha', 'Mes:', 'IdMes', 'Año:', 'Máquina / Equipo:',
       'Semana:', 'Turno:', 'Código y Descrip. / Producto:',
       'Unidades Producidas (Conformes) :', 'Peso Promedio de la unidad (K):',
       'Gramaje (K):'],
      dtype='object')

In [231]:
df_Env_Sol.dtypes

Número                                 int64
Dia                                    int64
Fecha                                 object
Mes:                                  object
IdMes                                  int64
Año:                                   int64
Máquina / Equipo:                     object
Semana:                              float64
Turno:                                 int64
Código y Descrip. / Producto:         object
Unidades Producidas (Conformes) :    float64
Peso Promedio de la unidad (K):       object
Gramaje (K):                         float64
dtype: object

In [232]:
#filtrar_desde_anio
df_Env_Sol = fc.filtrar_desde_anio(df_Env_Sol, 2024)
print(df_Env_Sol.shape)
df_Env_Sol.head(2)

(4739, 13)

,Número,Dia,Fecha,Mes:,IdMes,Año:,Máquina / Equipo:,Semana:,Turno:,Código y Descrip. / Producto:,Unidades Producidas (Conformes) :,Peso Promedio de la unidad (K):,Gramaje (K):
9773,44090,2,2024-01-02,Enero,1,2024,Linea B,1.0,1,1050712 Cafe Sprouts Dark Organic 100g x 6,14400.0,0.10073,0.100
9774,44091,2,2024-01-02,Enero,1,2024,Linea A,1.0,1,1036993 Cafe COLCAFE clas. pol. 85gx24 España,4800.0,0.08604,0.085

In [233]:
# Especificar las columnas en las que deseas aplicar el filtro para eliminar los valores nulos de las columnas de Gramaje, Unidades producidas y Peso promedio
columnas_filtrar_nulos = ['Gramaje (K):', 'Unidades Producidas (Conformes) :', 'Peso Promedio de la unidad (K):']

In [234]:
#filtrar_nulos
df_Env_Sol_nan_ceros, df_Env_Sol = fc.filtrar_nulos(df_Env_Sol, columnas_filtrar_nulos)
df_Env_Sol_nan_ceros.shape
df_Env_Sol.shape

(4739, 13)

In [235]:
df_Env_Sol_nan_ceros.head()

Empty DataFrame
Columns: [Número, Dia, Fecha, Mes:, IdMes, Año:, Máquina / Equipo:, Semana:, Turno:, Código y Descrip. / Producto:, Unidades Producidas (Conformes) :, Peso Promedio de la unidad (K):, Gramaje (K):]
Index: []

**Modificación de los tipos de datos del archivo de TPM de Envase Soluble**

In [236]:
#filtrar_nulos
df_non_conver, df_Env_Sol = fc.validar_numericos(df_Env_Sol, 'Peso Promedio de la unidad (K):')
print(df_Env_Sol.shape)
print(df_non_conver.shape)

(4739, 13)
(0, 13)

In [237]:
df_non_conver.head()

Empty DataFrame
Columns: [Número, Dia, Fecha, Mes:, IdMes, Año:, Máquina / Equipo:, Semana:, Turno:, Código y Descrip. / Producto:, Unidades Producidas (Conformes) :, Peso Promedio de la unidad (K):, Gramaje (K):]
Index: []

In [238]:
#extraer_codigo
df_Env_Sol = fc.extraer_codigo(df_Env_Sol)
df_Env_Sol['Codigo'].unique()

array(['1050712', '1036993', '1003495', '1003354', '1035163', '1036086',
       '1036085', '1035162', '1043503', '1003496', '1003355', '1064489',
       '1035164', '1058635', '1003353', '1034633', '1003350', '1014989',
       '1011228', '1058118', '1065297', '1036080', '1014990', '1014991',
       '1064451', '1064467', '1035545', '1013910', '1035434', '1065083',
       '1064802', '1064801', '1030755', '1055015', '1003351', '1033931',
       '1033932', '1034530', '1036089', '1034529', '1059907', '1036079',
       '1035538', '1033009', '1003509', '1003593', '1030757', '1034632',
       '1023722', '1059904', '1059909', '1030758', '1035468', '1032133',
       '1045032', '1035814', '1036233', '1003757', '1065335', '1035469',
       '1032134', '1036081', '1035544', '1035287', '1035543', '1036234',
       '1035815', '1033008', '1035286', '1035540', '1034638', '1032596',
       '1047939', '1003521', '1056520', '1035284', '1035285', '1035532',
       '1003535', '1064969', '1003377', '1034794', '1035467', '1064332',
       '1032132', '1069604', '1035533', '1003570', '1036232', '1035813',
       '1064331', '1059906', '1013909', '1035466', '1036078', '1034154',
       '1014306', '1034792', '1064466', '1055565', '1027720', '1014992',
       '1034853', '1035541', '1050715', '1035549', '1044235', '1034532',
       '1035883', '1035547', '1064333', '1064330', '1035546', '1035548',
       '1065764', '1070899', '1071048', '1070892', '1071047', '1070900',
       '1070893', '1070897', '1071051', '1070898', '1026524', '1057868',
       '1057869', '1070896', '1050714', '1024586', '1070922', '1070127',
       '1070128', '1049921', '1062103', '1071203', '1068611', '1071204',
       '1059902', '1070419', '1005757', '1035433', '1050713', '1068362',
       '1003364', '1072113', '1072114', '1072115', '1074283', '1008136',
       '1074254', '1069818', '1073744', '1074236', '1073827', '1073826',
       '1073891', '1072236', '1072237', '1075625', '1074284', '1018785',
       '1076641', '1076939', '1069342', '1062102'], dtype=object)

In [239]:
df_Env_Sol_nan_ceros.head()

Empty DataFrame
Columns: [Número, Dia, Fecha, Mes:, IdMes, Año:, Máquina / Equipo:, Semana:, Turno:, Código y Descrip. / Producto:, Unidades Producidas (Conformes) :, Peso Promedio de la unidad (K):, Gramaje (K):]
Index: []

**Generar un dataframe con los códigos y descripción de códigos**

In [240]:
#Se genera un dataframe con codigos y descripcion de codigos en el cual si hay descripciones repetidas las agrupa en una lista para verificaciones futuras
df_pivot_Codigos = df_Env_Sol.groupby('Codigo')['Código y Descrip. / Producto:'].unique().reset_index() #Para cada Codigo, toma los valores unicos de cod/descrip y coloca los indices en una columna
df_pivot_Codigos.head()

    Codigo                      Código y Descrip. / Producto:
0  1003350                    [1003350 COLCAFE ST 250 X 12 3]
1  1003351  [1003351 Cafe COLCAFE vainilla 50g 24fco., 100...
2  1003353                 [1003353 COLCAFE ST 170 X 12 2.04]
3  1003354                    [1003354 COLCAFE ST 85X24 2.04]
4  1003355                   [1003355 COLCAFE ST 50 X 24 1.2]

**Identificación de Codigos con mas de una descripción**

In [241]:
#Agrupar por Código y contar descripciones únicas
#df_con_multiples_desc = df_pivot_Codigos[df_pivot_Codigos['Código y Descrip. / Producto:'].apply(len) > 1]
df_con_multiples_desc = df_Env_Sol.groupby('Codigo')['Código y Descrip. / Producto:'].nunique().reset_index() #.nunique() trae CUANTAS descrip unicas hay por codigo
df_con_multiples_desc = df_con_multiples_desc[df_con_multiples_desc['Código y Descrip. / Producto:'] > 1] #filtra los codigos en el que la descrip (que ya es un numero) sea > 1
df_con_multiples_desc.head()

      Codigo  Código y Descrip. / Producto:
1    1003351                              2
57   1035287                              2
71   1035545                              2
83   1036081                              2
124  1064969                              2

In [242]:
df_pivot_Codigos.dtypes

Codigo                           object
Código y Descrip. / Producto:    object
dtype: object

**Identificación y supresión de aquellos códigos con valores nulos**

In [243]:
#eliminar_codigos_nan
df_Env_Sol, df_Env_Sol_Codigos_nan = fc.eliminar_codigos_nan(df_Env_Sol)
print(df_Env_Sol.shape)
print(df_Env_Sol_Codigos_nan.shape)

(4739, 14)
(0, 14)

In [244]:
df_Env_Sol_Codigos_nan = df_Env_Sol_Codigos_nan[df_Env_Sol_Codigos_nan['Año:'] == Añoeval]
df_Env_Sol_Codigos_nan.head()

Empty DataFrame
Columns: [Número, Dia, Fecha, Mes:, IdMes, Año:, Máquina / Equipo:, Semana:, Turno:, Código y Descrip. / Producto:, Unidades Producidas (Conformes) :, Peso Promedio de la unidad (K):, Gramaje (K):, Codigo]
Index: []

In [245]:
df_Env_Sol.dtypes

Número                                 int64
Dia                                    int64
Fecha                                 object
Mes:                                  object
IdMes                                  int64
Año:                                   int64
Máquina / Equipo:                     object
Semana:                              float64
Turno:                                 int64
Código y Descrip. / Producto:         object
Unidades Producidas (Conformes) :    float64
Peso Promedio de la unidad (K):      float64
Gramaje (K):                         float64
Codigo                                object
dtype: object

**Por temas de sobrepeso se borrará el Codigo 1055015 del archivo de TPM**

In [246]:
#Por temas de Sobrepeso se borrará el código 1055015 del archivo de TPM
indices_to_drop = df_Env_Sol[(df_Env_Sol['Codigo'] == "1055015")].index
df_Env_Sol.drop(indices_to_drop, inplace=True)  #inplace=True asegura que la eliminación se haga sobre df_Env_Sol

In [247]:
#columnas_a_filtrar = 'Gramaje (K):', 'Unidades Producidas (Conformes) :', 'Peso Promedio de la unidad (K):'
filtro_nan_ceros = df_Env_Sol[columnas_filtrar_nulos].isna().any(axis=1) | (df_Env_Sol[columnas_filtrar_nulos] == 0).any(axis=1)
df_Env_Sol_nan_ceros = df_Env_Sol[filtro_nan_ceros]
df_Env_Sol = df_Env_Sol[~filtro_nan_ceros]
df_Env_Sol_nan_ceros.head()

Empty DataFrame
Columns: [Número, Dia, Fecha, Mes:, IdMes, Año:, Máquina / Equipo:, Semana:, Turno:, Código y Descrip. / Producto:, Unidades Producidas (Conformes) :, Peso Promedio de la unidad (K):, Gramaje (K):, Codigo]
Index: []

In [248]:
df_Env_Sol_nan_ceros.dtypes

Número                                 int64
Dia                                    int64
Fecha                                 object
Mes:                                  object
IdMes                                  int64
Año:                                   int64
Máquina / Equipo:                     object
Semana:                              float64
Turno:                                 int64
Código y Descrip. / Producto:         object
Unidades Producidas (Conformes) :    float64
Peso Promedio de la unidad (K):      float64
Gramaje (K):                         float64
Codigo                                object
dtype: object

In [249]:
df_Env_Sol_nan_ceros.shape

(0, 14)

In [250]:
#calcular_columnas
df_Env_Sol = fc.calcular_columnas(df_Env_Sol)
df_Env_Sol.head(2)

,Número,Dia,Fecha,Mes:,IdMes,Año:,Máquina / Equipo:,Semana:,Turno:,Código y Descrip. / Producto:,Unidades Producidas (Conformes) :,Peso Promedio de la unidad (K):,Gramaje (K):,Codigo,Real_empaque_calculado,Debe_ser_empaque_calculado,Diferencia_calculado,Sobrepeso_calculado
9773,44090,2,2024-01-02,Enero,1,2024,Linea B,1.0,1,1050712 Cafe Sprouts Dark Organic 100g x 6,14400.0,0.10073,0.100,1050712,1450.512,1440.0,10.512,0.007300
9774,44091,2,2024-01-02,Enero,1,2024,Linea A,1.0,1,1036993 Cafe COLCAFE clas. pol. 85gx24 España,4800.0,0.08604,0.085,1036993,412.992,408.0,4.992,0.012235

**Generación de Novedades**

In [251]:
Sobrepeso_Novedades = 0.5  #50% de sobrepeso

In [252]:
#generar_novedades
df_Env_Sol_Nov_Sobrepeso = fc.generar_novedades(df_Env_Sol, Sobrepeso_Novedades)
df_Env_Sol_Nov_Sobrepeso.head()

Empty DataFrame
Columns: [Número, Dia, Fecha, Mes:, IdMes, Año:, Máquina / Equipo:, Semana:, Turno:, Código y Descrip. / Producto:, Unidades Producidas (Conformes) :, Peso Promedio de la unidad (K):, Gramaje (K):, Codigo, Real_empaque_calculado, Debe_ser_empaque_calculado, Diferencia_calculado, Sobrepeso_calculado]
Index: []

In [253]:
#Agregar columna 'Costo/kg'
df_Env_Sol['Costo/kg'] = 0.0
df_Env_Sol.head(2)

,Número,Dia,Fecha,Mes:,IdMes,Año:,Máquina / Equipo:,Semana:,Turno:,Código y Descrip. / Producto:,Unidades Producidas (Conformes) :,Peso Promedio de la unidad (K):,Gramaje (K):,Codigo,Real_empaque_calculado,Debe_ser_empaque_calculado,Diferencia_calculado,Sobrepeso_calculado,Costo/kg
9773,44090,2,2024-01-02,Enero,1,2024,Linea B,1.0,1,1050712 Cafe Sprouts Dark Organic 100g x 6,14400.0,0.10073,0.100,1050712,1450.512,1440.0,10.512,0.007300,0.0
9774,44091,2,2024-01-02,Enero,1,2024,Linea A,1.0,1,1036993 Cafe COLCAFE clas. pol. 85gx24 España,4800.0,0.08604,0.085,1036993,412.992,408.0,4.992,0.012235,0.0

**Tabla de Consolidado Mensual**

In [254]:
#pivote_consolidado
df_Env_Sol_Mes = fc.pivote_consolidado(df_Env_Sol)
df_Env_Sol_Mes.head()

,Año:,Mes:,Codigo,Máquina / Equipo:,Debe_ser_empaque_calculado,Diferencia_calculado,Gramaje (K):,Peso Promedio de la unidad (K):,Real_empaque_calculado,Unidades Producidas (Conformes) :
0,2024,Abril,1003350,Linea A,20901.00,204.41352,0.250,0.252471,21105.41352,83604.0
1,2024,Abril,1003351,Linea B,4033.20,72.64944,0.050,0.050992,4105.84944,80664.0
2,2024,Abril,1003353,Linea A,9190.20,100.21896,0.170,0.171893,9290.41896,54060.0
3,2024,Abril,1003354,Linea A,4084.08,41.53248,0.085,0.086035,4125.61248,48048.0
4,2024,Abril,1003355,Linea A,600.00,5.16000,0.050,0.050430,605.16000,12000.0

In [255]:
#Tomar datos desde el año 2024 en adelante
df_Env_Sol_Mes = fc.filtrar_desde_anio(df_Env_Sol_Mes, 2024)
df_Env_Sol_Mes.head()

,Año:,Mes:,Codigo,Máquina / Equipo:,Debe_ser_empaque_calculado,Diferencia_calculado,Gramaje (K):,Peso Promedio de la unidad (K):,Real_empaque_calculado,Unidades Producidas (Conformes) :
0,2024,Abril,1003350,Linea A,20901.00,204.41352,0.250,0.252471,21105.41352,83604.0
1,2024,Abril,1003351,Linea B,4033.20,72.64944,0.050,0.050992,4105.84944,80664.0
2,2024,Abril,1003353,Linea A,9190.20,100.21896,0.170,0.171893,9290.41896,54060.0
3,2024,Abril,1003354,Linea A,4084.08,41.53248,0.085,0.086035,4125.61248,48048.0
4,2024,Abril,1003355,Linea A,600.00,5.16000,0.050,0.050430,605.16000,12000.0

In [256]:
#Visualizacion de EJEMPLO de los datos del consolidado del Mes para el año 2024 y codigo 1003350
df_Env_Sol_Mes[(df_Env_Sol_Mes['Año:'] == 2024) & (df_Env_Sol_Mes['Codigo'] == "1003350")].head()

,Año:,Mes:,Codigo,Máquina / Equipo:,Debe_ser_empaque_calculado,Diferencia_calculado,Gramaje (K):,Peso Promedio de la unidad (K):,Real_empaque_calculado,Unidades Producidas (Conformes) :
0,2024,Abril,1003350,Linea A,20901.0,204.41352,0.25,0.252471,21105.41352,83604.0
103,2024,Agosto,1003350,Linea A,22680.0,259.00716,0.25,0.253040,22939.00716,90720.0
178,2024,Diciembre,1003350,Linea A,28830.0,307.78884,0.25,0.252635,29137.78884,115320.0
251,2024,Enero,1003350,Linea A,15714.0,166.35864,0.25,0.252800,15880.35864,62856.0
343,2024,Febrero,1003350,Linea A,10754.0,108.43680,0.25,0.254230,10862.43680,43016.0

In [257]:
#Verificacion de los meses en el DataFrame
df_Env_Sol_Mes['Mes:'].unique()

array(['Abril', 'Agosto', 'Diciembre', 'Enero', 'Febrero', 'Julio',
       'Junio', 'Marzo', 'Mayo', 'Noviembre', 'Octubre', 'Septiembre'],
      dtype=object)

**Creación de la agrupación Mensual del archivo de semielaborados**

In [258]:
df_costo_semi = df_COOISPI_COMB.copy(deep=True)

In [259]:
df_costo_semi_Mes = fc.pivote_semielaborados(df_costo_semi)

In [260]:
df_costo_semi_Mes[df_costo_semi_Mes['Mes:'] == "Enero"].head()

     Año:   Mes:   Codigo     Ctd.   Impte.ML      Costo/kg
256  2024  Enero  1003350  16367.0  696339693  42545.346918
257  2024  Enero  1003351   4096.0  219066368  53483.000000
258  2024  Enero  1003353  10109.0  423630551  41906.276684
259  2024  Enero  1003354  20072.0  808639133  40286.923725
260  2024  Enero  1003355   3537.0  142261677  40221.000000

In [261]:
df_costo_semi_Mes[df_costo_semi_Mes['Año:'] == 2025].head()

      Año:   Mes:   Codigo     Ctd.    Impte.ML  Costo/kg
1098  2025  Abril  1003350  23597.0  1412233256   59848.0
1099  2025  Abril  1003351   5297.0   339633046   64118.0
1100  2025  Abril  1003353  30172.0  1805733856   59848.0
1101  2025  Abril  1003354  16656.0   996828288   59848.0
1102  2025  Abril  1003355   3825.0   228918600   59848.0

**Generación del nuevo archivo consolidado V2**

In [262]:
df_Env_Sol_2 = df_Env_Sol.copy(deep=True)

In [263]:
df_Env_Sol_2.head(2)

,Número,Dia,Fecha,Mes:,IdMes,Año:,Máquina / Equipo:,Semana:,Turno:,Código y Descrip. / Producto:,Unidades Producidas (Conformes) :,Peso Promedio de la unidad (K):,Gramaje (K):,Codigo,Real_empaque_calculado,Debe_ser_empaque_calculado,Diferencia_calculado,Sobrepeso_calculado,Costo/kg
9773,44090,2,2024-01-02,Enero,1,2024,Linea B,1.0,1,1050712 Cafe Sprouts Dark Organic 100g x 6,14400.0,0.10073,0.100,1050712,1450.512,1440.0,10.512,0.007300,0.0
9774,44091,2,2024-01-02,Enero,1,2024,Linea A,1.0,1,1036993 Cafe COLCAFE clas. pol. 85gx24 España,4800.0,0.08604,0.085,1036993,412.992,408.0,4.992,0.012235,0.0

In [264]:
#Traer la columna 'Costo/kg' al dataframe original
df_Env_Sol_2 = fc.merge_costo(df_Env_Sol_2, df_costo_semi_Mes)
df_Env_Sol_2.head(2)

,Número,Dia,Fecha,Mes:,IdMes,Año:,Máquina / Equipo:,Semana:,Turno:,Código y Descrip. / Producto:,Unidades Producidas (Conformes) :,Peso Promedio de la unidad (K):,Gramaje (K):,Codigo,Real_empaque_calculado,Debe_ser_empaque_calculado,Diferencia_calculado,Sobrepeso_calculado,Costo/kg_x,Costo/kg_y
0,44090,2,2024-01-02,Enero,1,2024,Linea B,1.0,1,1050712 Cafe Sprouts Dark Organic 100g x 6,14400.0,0.10073,0.100,1050712,1450.512,1440.0,10.512,0.007300,0.0,97977.0
1,44091,2,2024-01-02,Enero,1,2024,Linea A,1.0,1,1036993 Cafe COLCAFE clas. pol. 85gx24 España,4800.0,0.08604,0.085,1036993,412.992,408.0,4.992,0.012235,0.0,55498.0

In [265]:
#Eliminar la columna Costo/kg antigua y renombrar la nueva
df_Env_Sol_2 = fc.modificar_costo(df_Env_Sol_2)
df_Env_Sol_2.head(2)

,Número,Dia,Fecha,Mes:,IdMes,Año:,Máquina / Equipo:,Semana:,Turno:,Código y Descrip. / Producto:,Unidades Producidas (Conformes) :,Peso Promedio de la unidad (K):,Gramaje (K):,Codigo,Real_empaque_calculado,Debe_ser_empaque_calculado,Diferencia_calculado,Sobrepeso_calculado,Costo/kg
0,44090,2,2024-01-02,Enero,1,2024,Linea B,1.0,1,1050712 Cafe Sprouts Dark Organic 100g x 6,14400.0,0.10073,0.100,1050712,1450.512,1440.0,10.512,0.007300,97977.0
1,44091,2,2024-01-02,Enero,1,2024,Linea A,1.0,1,1036993 Cafe COLCAFE clas. pol. 85gx24 España,4800.0,0.08604,0.085,1036993,412.992,408.0,4.992,0.012235,55498.0

**Asignación de Meta de Envase Soluble por referencia**

In [266]:
df_Env_Sol_Metas.head(3)

,Codigo,Código y Descrip. / Producto:,Peso Neto,Meta Sobrepeso,Linea
0,1003350,['1003350 COLCAFE ST 250 X 12 3'],250.0,0.010,NaN
1,1003351,['1003351 Cafe COLCAFE vainilla 50g 24fco.'\n ...,50.0,0.015,NaN
2,1003353,['1003353 COLCAFE ST 170 X 12 2.04'],170.0,0.010,NaN

In [267]:
df_Env_Sol_Metas['Codigo'] = df_Env_Sol_Metas['Codigo'].astype(str)
df_Env_Sol_Metas = df_Env_Sol_Metas[['Codigo', 'Meta Sobrepeso']].copy()
df_Env_Sol_Metas.head(3)

    Codigo  Meta Sobrepeso
0  1003350           0.010
1  1003351           0.015
2  1003353           0.010

In [268]:
valor_fijo_2024 = 0.015

#Renombrar la columna para evitar conflicto temporalmente
df_Env_Sol_Metas = df_Env_Sol_Metas.rename(columns={'Meta Sobrepeso': 'Meta_nueva'})

#Hacer merge para obtener Meta_nueva segun codigo
df_Env_Sol_2 = df_Env_Sol_2.merge(
    df_Env_Sol_Metas,
    on='Codigo',
    how='left'
)

#Asignar la meta segun la condicion del año
df_Env_Sol_2['Meta'] = np.where(
    df_Env_Sol_2['Año:'] == 2024,
    valor_fijo_2024,                #Si es =2024 queda el valor fijo
    df_Env_Sol_2['Meta_nueva']      #Sino valor desde metas_sobrepeso para otros años
)

#Eliminar la columna temporal
df_Env_Sol_2.drop(columns=['Meta_nueva'], inplace=True)
df_Env_Sol_2.head(3)

,Número,Dia,Fecha,Mes:,IdMes,Año:,Máquina / Equipo:,Semana:,Turno:,Código y Descrip. / Producto:,Unidades Producidas (Conformes) :,Peso Promedio de la unidad (K):,Gramaje (K):,Codigo,Real_empaque_calculado,Debe_ser_empaque_calculado,Diferencia_calculado,Sobrepeso_calculado,Costo/kg,Meta
0,44090,2,2024-01-02,Enero,1,2024,Linea B,1.0,1,1050712 Cafe Sprouts Dark Organic 100g x 6,14400.0,0.10073,0.100,1050712,1450.512,1440.0,10.512,0.007300,97977.0,0.015
1,44091,2,2024-01-02,Enero,1,2024,Linea A,1.0,1,1036993 Cafe COLCAFE clas. pol. 85gx24 España,4800.0,0.08604,0.085,1036993,412.992,408.0,4.992,0.012235,55498.0,0.015
2,44092,2,2024-01-02,Enero,1,2024,Linea A,1.0,1,1003495 POLVO ST 85X24 2.04 ECUADOR,2400.0,0.08572,0.085,1003495,205.728,204.0,1.728,0.008471,55498.0,0.015

In [269]:
df_Env_Sol_2[df_Env_Sol_2['Meta'] != valor_fijo_2024].head(3)

,Número,Dia,Fecha,Mes:,IdMes,Año:,Máquina / Equipo:,Semana:,Turno:,Código y Descrip. / Producto:,Unidades Producidas (Conformes) :,Peso Promedio de la unidad (K):,Gramaje (K):,Codigo,Real_empaque_calculado,Debe_ser_empaque_calculado,Diferencia_calculado,Sobrepeso_calculado,Costo/kg,Meta
3184,47346,2,2025-01-02,Enero,1,2025,Linea A,1.0,1,1026524 Coffee Crem COLCAFE 12x650g EXP,1476.0,0.65153,0.65,1026524,961.65828,959.4,2.25828,0.002354,5332.919345,0.005
3185,47347,2,2025-01-02,Enero,1,2025,Linea A,1.0,1,1064451 Coffee Crem COLCAFE 650g 12un V2,4032.0,0.65172,0.65,1064451,2627.73504,2620.8,6.93504,0.002646,5302.988561,0.005
3186,47348,2,2025-01-02,Enero,1,2025,Linea A,1.0,1,1013910 COFFEE CREM 290X24 Panamá,2400.0,0.29175,0.29,1013910,700.20000,696.0,4.20000,0.006034,3580.876874,0.005

**Calculo de la columna 'Costo/kg' para el año 2025**

In [270]:
df_Costos_Mp = fc.leer_archivo(r"G:\.shortcut-targets-by-id\1rqpfbdZ6z51epFv6ZwognhckW7HqBMjN\SIRI_2024_INFORMES_SOBREPESO\INFORME_ENVASE_SOLUBLE_MEDELLIN\Tablas_Costos_Productos_MP.xlsx", "Recetas_solubles_2025")
df_Financiera_Mp = fc.leer_archivo(r"G:\.shortcut-targets-by-id\1rqpfbdZ6z51epFv6ZwognhckW7HqBMjN\SIRI_2024_INFORMES_SOBREPESO\INFORME_ENVASE_SOLUBLE_MEDELLIN\Tablas_Costos_Productos_MP.xlsx", "Datos_Financiera_Consolidados")
df_Costos_Mp.head(2)

Leyendo archivo...
Leyendo archivo...

,Codigo,Texto Breve del material,Material,Texto Breve del material.1,Material .1,Texto Breve del material.2,Material .2,Texto Breve del material.3,Material .3,Texto Breve del material.4,Unnamed: 10,Texto Breve del material.5,Materia_Prima,Texto Breve del material.6,Proporción
0,1003521.0,1003521 POLVO ST 25 X 24 0.6,NaN,NaN,3002668.0,Polvo STO,3002603.0,Extracto STO,NaN,NaN,3002572.0,Tostado Soluble STO,7009685,Cafe Pasilla Maquinas OTA Eur soluble,1
1,1035284.0,1035284 Cafe COLCAFE granul fco. 24x25g Caribe,3002687.0,AGLOMERADO GR1L1ST,3002648.0,Polvo ST1,3002600.0,Extracto ST,NaN,NaN,3002570.0,Tostado Soluble ST,7007875,Cafe Pasilla Catadoras Colombia,1

In [271]:
df_Financiera_Mp.head(2)

,Año,Descripción,Materia_Prima,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2025,Cafe Pasilla Catadoras Colombia,7007875,NaN,NaN,19787.0,24055.184006,24055.184006,22612.227625,23766.592730,23333.705816,24055.184006,21890.749435,23766.592730,21890.749435
1,2025,NaN,7002735,NaN,NaN,23742.0,25126.778514,25126.778514,23773.346204,24856.092052,24450.062359,25126.778514,23096.630048,24856.092052,23096.630048

In [272]:
df_Costos_Mp.dtypes

Codigo                        float64
Texto Breve del material       object
Material                      float64
Texto Breve del material.1     object
Material .1                   float64
Texto Breve del material.2     object
Material .2                   float64
Texto Breve del material.3     object
Material .3                   float64
Texto Breve del material.4     object
Unnamed: 10                   float64
Texto Breve del material.5     object
Materia_Prima                   int64
Texto Breve del material.6     object
Proporción                     object
dtype: object

In [273]:
#.bfill() (rellenar "" o NaN hacia arriba) ------ .ffill() (relleno "" o NaN hacia abajo)
df_Costos_Mp['Codigo'] = df_Costos_Mp['Codigo'].ffill().astype(int).astype(str)
df_Costos_Mp['Materia_Prima'] = df_Costos_Mp['Materia_Prima'].astype(int).astype(str)
df_Costos_Mp.dtypes

Codigo                         object
Texto Breve del material       object
Material                      float64
Texto Breve del material.1     object
Material .1                   float64
Texto Breve del material.2     object
Material .2                   float64
Texto Breve del material.3     object
Material .3                   float64
Texto Breve del material.4     object
Unnamed: 10                   float64
Texto Breve del material.5     object
Materia_Prima                  object
Texto Breve del material.6     object
Proporción                     object
dtype: object

In [274]:
df_Costos_Mp.tail()

,Codigo,Texto Breve del material,Material,Texto Breve del material.1,Material .1,Texto Breve del material.2,Material .2,Texto Breve del material.3,Material .3,Texto Breve del material.4,Unnamed: 10,Texto Breve del material.5,Materia_Prima,Texto Breve del material.6,Proporción
166,1050714,1050714 Cafe Sprouts Light Organic 100g x 6,NaN,NaN,3025249.0,Polvo TCG1 Organico,3025248.0,Extracto TCG1 Organico,NaN,NaN,3025247.0,Tostado soluble TCG1 Organico,7008237,Cafe Consumo Organico COLOMBIA SOLUBLE,1
167,1050714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7008675,CAFE Pasilla Maquinas Organica SOLUBLE,1
168,1050713,1050713 Cafe Sprouts Medium Organic 100g x 6,NaN,NaN,3025255.0,Polvo CSM1 Organico,3025253.0,Extracto CSM Organico,NaN,NaN,3025252.0,Tostado soluble CSM Organico,7008237,Cafe Consumo Organico COLOMBIA SOLUBLE,1
169,1050713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7008675,CAFE Pasilla Maquinas Organica SOLUBLE,1
170,1050715,1050715 Cafe Sprouts MediumDecaf Organic 100g x6,NaN,NaN,3025258.0,Polvo STDW1 Organico,3025257.0,Extracto STDW Organico,NaN,NaN,3025256.0,Tostado STDW Organico,7009892,Cafe 300 Def Honduras Org DECAF MW PV,1

In [275]:
#Dividir metodo validar_numericos
df_Costos_Mp['Proporción'] = (df_Costos_Mp['Proporción']
    .astype(str)                         # Convertir a string por si hay valores mezclados
    .str.replace(',', '.', regex=False)  # Reemplazar coma por punto
    .str.strip()                         # Eliminar espacios
    .astype(float)                       # Convertir finalmente a float
)
df_Costos_Mp.head()

,Codigo,Texto Breve del material,Material,Texto Breve del material.1,Material .1,Texto Breve del material.2,Material .2,Texto Breve del material.3,Material .3,Texto Breve del material.4,Unnamed: 10,Texto Breve del material.5,Materia_Prima,Texto Breve del material.6,Proporción
0,1003521,1003521 POLVO ST 25 X 24 0.6,NaN,NaN,3002668.0,Polvo STO,3002603.0,Extracto STO,NaN,NaN,3002572.0,Tostado Soluble STO,7009685,Cafe Pasilla Maquinas OTA Eur soluble,1.0
1,1035284,1035284 Cafe COLCAFE granul fco. 24x25g Caribe,3002687.0,AGLOMERADO GR1L1ST,3002648.0,Polvo ST1,3002600.0,Extracto ST,NaN,NaN,3002570.0,Tostado Soluble ST,7007875,Cafe Pasilla Catadoras Colombia,1.0
2,1035466,1035466 Cafe COLCAFE granul fco. 24x25g Conosur,3002687.0,AGLOMERADO GR1L1ST,3002648.0,Polvo ST1,3002600.0,Extracto ST,NaN,NaN,3002570.0,Tostado Soluble ST,7007875,Cafe Pasilla Catadoras Colombia,1.0
3,1036078,1036078 Cafe COLCAFE granulado fco. 24x25g ING,3002687.0,AGLOMERADO GR1L1ST,3002648.0,Polvo ST1,3002600.0,Extracto ST,NaN,NaN,3002570.0,Tostado Soluble ST,7007875,Cafe Pasilla Catadoras Colombia,1.0
4,1047939,1047939 Cafe COLCAFE polvo ST 24 fco x 25g,NaN,NaN,3002668.0,Polvo STO,3002603.0,Extracto STO,NaN,NaN,3002572.0,Tostado Soluble STO,7009685,Cafe Pasilla Maquinas OTA Eur soluble,1.0

In [276]:
df_Costos_merged = df_Env_Sol_2.merge(df_Costos_Mp, on='Codigo', how='left')
df_Costos_merged.head(2)

,Número,Dia,Fecha,Mes:,IdMes,Año:,Máquina / Equipo:,Semana:,Turno:,Código y Descrip. / Producto:,...,Texto Breve del material.2,Material .2,Texto Breve del material.3,Material .3,Texto Breve del material.4,Unnamed: 10,Texto Breve del material.5,Materia_Prima,Texto Breve del material.6,Proporción
0,44090,2,2024-01-02,Enero,1,2024,Linea B,1.0,1,1050712 Cafe Sprouts Dark Organic 100g x 6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44091,2,2024-01-02,Enero,1,2024,Linea A,1.0,1,1036993 Cafe COLCAFE clas. pol. 85gx24 España,...,Polvo STO,3002603.0,Extracto STO,NaN,NaN,3002572.0,Tostado Soluble STO,7009685,Cafe Pasilla Maquinas OTA Eur soluble,1.0

In [277]:
# df_Costos_merged.to_excel("df_Costos_merged_V2.xlsx", index=False)

In [278]:
df_Financiera_Mp.dtypes

Año                int64
Descripción       object
Materia_Prima      int64
Enero            float64
Febrero          float64
Marzo            float64
Abril            float64
Mayo             float64
Junio            float64
Julio            float64
Agosto           float64
Septiembre       float64
Octubre          float64
Noviembre        float64
Diciembre        float64
dtype: object

In [279]:
#Paso 1: cambiar a formato largo para facilitar join(id_vars=columnas fijas, var_name=nombre columna en base a las columnas originales, value_name: el nombre de la columna que contendrá los valores de las originales)
df_Financiera_Mp_melted = df_Financiera_Mp.melt(id_vars=['Año', 'Descripción', 'Materia_Prima'],
                                                var_name='Mes',
                                                value_name='Costo_materia_kg')

df_Financiera_Mp_melted['Mes'] = df_Financiera_Mp_melted['Mes'].str.capitalize()
df_Financiera_Mp_melted['Materia_Prima'] = df_Financiera_Mp_melted['Materia_Prima'].astype(int).astype(str)
df_Financiera_Mp_melted.rename(columns={'Año': 'Año:', 'Mes': 'Mes:'}, inplace=True)
df_Financiera_Mp_melted.head(3)

,Año:,Descripción,Materia_Prima,Mes:,Costo_materia_kg
0,2025,Cafe Pasilla Catadoras Colombia,7007875,Enero,NaN
1,2025,NaN,7002735,Enero,NaN
2,2025,Cafe Pasilla Maquinas OTA Eur soluble,7009685,Enero,NaN

In [280]:
df_Financiera_Mp_melted.dtypes

Año:                  int64
Descripción          object
Materia_Prima        object
Mes:                 object
Costo_materia_kg    float64
dtype: object

In [281]:
#Paso 2: hacer un merge entre df_Costos_merged y df_Financiera_Mp_melted
df_Cost_Finan_Mp = df_Costos_merged.merge(
    df_Financiera_Mp_melted,
    on=['Año:', 'Materia_Prima', 'Mes:'],
    how='left'
)

In [282]:
# #Paso 3: exportar df_Cost_Finan_Mp como archivo excel
# df_Cost_Finan_Mp.to_excel("df_Cost_Finan_Mp.xlsx", index=False)
# df_Cost_Finan_Mp.head(3)

In [283]:
#Paso 4: calcular el costo proporcional por materia prima
df_Cost_Finan_Mp['Costo_proporcional'] = df_Cost_Finan_Mp['Proporción'] * df_Cost_Finan_Mp['Costo_materia_kg']
df_Cost_Finan_Mp.head(3)

,Número,Dia,Fecha,Mes:,IdMes,Año:,Máquina / Equipo:,Semana:,Turno:,Código y Descrip. / Producto:,...,Material .3,Texto Breve del material.4,Unnamed: 10,Texto Breve del material.5,Materia_Prima,Texto Breve del material.6,Proporción,Descripción,Costo_materia_kg,Costo_proporcional
0,44090,2,2024-01-02,Enero,1,2024,Linea B,1.0,1,1050712 Cafe Sprouts Dark Organic 100g x 6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44091,2,2024-01-02,Enero,1,2024,Linea A,1.0,1,1036993 Cafe COLCAFE clas. pol. 85gx24 España,...,NaN,NaN,3002572.0,Tostado Soluble STO,7009685,Cafe Pasilla Maquinas OTA Eur soluble,1.0,NaN,NaN,NaN
2,44092,2,2024-01-02,Enero,1,2024,Linea A,1.0,1,1003495 POLVO ST 85X24 2.04 ECUADOR,...,NaN,NaN,3002572.0,Tostado Soluble STO,7009685,Cafe Pasilla Maquinas OTA Eur soluble,1.0,NaN,NaN,NaN

In [284]:
df_Costo_Mp_Env_Sol = (
    df_Cost_Finan_Mp
    .groupby(['Número','Año:', 'Mes:', 'Codigo'])['Costo_proporcional']
    .sum()
    .reset_index()
    .rename(columns={'Costo_proporcional': 'Costo/kg'})
)
df_Costo_Mp_Env_Sol.head(3)

   Número  Año:   Mes:   Codigo  Costo/kg
0   44090  2024  Enero  1050712       0.0
1   44091  2024  Enero  1036993       0.0
2   44092  2024  Enero  1003495       0.0

In [285]:
df_Costo_Mp_Env_Sol.loc[(df_Costo_Mp_Env_Sol['Mes:'] == "Marzo") & (df_Costo_Mp_Env_Sol['Año:'] == 2025)].head()

      Número  Año:   Mes:   Codigo  Costo/kg
3640   47815  2025  Marzo  1045032       0.0
3641   47816  2025  Marzo  1003353       0.0
3642   47817  2025  Marzo  1011228       0.0
3643   47818  2025  Marzo  1064451       0.0
3644   47819  2025  Marzo  1064467       0.0

In [286]:
orden_meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]

In [287]:
#Paso 3: hacer merge completo sin sobrescribir 'Costo/kg'
df_mergeado = df_Env_Sol_2.merge(
    df_Costo_Mp_Env_Sol[['Número', 'Año:', 'Mes:', 'Codigo', 'Costo/kg']],
    on=['Número', 'Año:', 'Mes:', 'Codigo'],
    how='left',
    suffixes=('', '_nuevo')
)

In [288]:
#Paso 4: Actualizar 'Costo/kg' solo si Año es 2025 y Mes desde Marzo
condicion_actualizacion = (
    (df_mergeado['Año:'] == 2025) &
    (df_mergeado['Mes:'].isin(orden_meses[2:])) &
    (df_mergeado['Costo/kg_nuevo'].notna())
)

In [289]:
df_mergeado.loc[condicion_actualizacion, 'Costo/kg'] = df_mergeado.loc[condicion_actualizacion, 'Costo/kg_nuevo']

In [290]:
# Paso 5: Eliminar columna auxiliar
df_mergeado.drop(columns=['Costo/kg_nuevo'], inplace=True)

In [291]:
df_mergeado.loc[(df_mergeado['Mes:'] == "Marzo")&(df_mergeado['Año:'] == 2025)].head(5)

,Número,Dia,Fecha,Mes:,IdMes,Año:,Máquina / Equipo:,Semana:,Turno:,Código y Descrip. / Producto:,Unidades Producidas (Conformes) :,Peso Promedio de la unidad (K):,Gramaje (K):,Codigo,Real_empaque_calculado,Debe_ser_empaque_calculado,Diferencia_calculado,Sobrepeso_calculado,Costo/kg,Meta
3640,47815,1,2025-03-01,Marzo,3,2025,Linea B,9.0,1,1045032Cafe COLCAFE Clasic Jarro 100g 29un Nova,7250.0,0.10038,0.10,1045032,727.75500,725.00,2.75500,0.003800,0.0,0.012
3641,47816,1,2025-03-01,Marzo,3,2025,Linea A,9.0,1,1003353 COLCAFE ST 170 X 12 2.04,18036.0,0.17228,0.17,1003353,3107.24208,3066.12,41.12208,0.013412,0.0,0.010
3642,47817,1,2025-03-01,Marzo,3,2025,Linea A,9.0,1,1011228 Cafe COLCAFE Clasico 200g Novaventa,9300.0,0.20373,0.20,1011228,1894.68900,1860.00,34.68900,0.018650,0.0,0.010
3643,47818,3,2025-03-03,Marzo,3,2025,Linea A,10.0,1,1064451 Coffee Crem COLCAFE 650g 12un V2,1176.0,0.65237,0.65,1064451,767.18712,764.40,2.78712,0.003646,0.0,0.005
3644,47819,3,2025-03-03,Marzo,3,2025,Linea A,10.0,1,1064467 Coffee crem COLCAFE 290g 24fco V2,6576.0,0.29324,0.29,1064467,1928.34624,1907.04,21.30624,0.011172,0.0,0.005

In [292]:
df_Env_Sol_2 = df_mergeado.copy()

In [293]:
df_Env_Sol_2.columns

Index(['Número', 'Dia', 'Fecha', 'Mes:', 'IdMes', 'Año:', 'Máquina / Equipo:',
       'Semana:', 'Turno:', 'Código y Descrip. / Producto:',
       'Unidades Producidas (Conformes) :', 'Peso Promedio de la unidad (K):',
       'Gramaje (K):', 'Codigo', 'Real_empaque_calculado',
       'Debe_ser_empaque_calculado', 'Diferencia_calculado',
       'Sobrepeso_calculado', 'Costo/kg', 'Meta'],
      dtype='object')

In [294]:
# df_Costo_Mp_Env_Sol.to_excel("df_Costo_Mp_Env_Sol.xlsx", index=False)

In [295]:
df_Env_Sol_2['Ahorros/Perdidas'] = (df_Env_Sol_2['Meta'] - df_Env_Sol_2['Sobrepeso_calculado']) * df_Env_Sol_2['Real_empaque_calculado'] * df_Env_Sol_2['Costo/kg']
df_Env_Sol_2.head(3)

,Número,Dia,Fecha,Mes:,IdMes,Año:,Máquina / Equipo:,Semana:,Turno:,Código y Descrip. / Producto:,...,Peso Promedio de la unidad (K):,Gramaje (K):,Codigo,Real_empaque_calculado,Debe_ser_empaque_calculado,Diferencia_calculado,Sobrepeso_calculado,Costo/kg,Meta,Ahorros/Perdidas
0,44090,2,2024-01-02,Enero,1,2024,Linea B,1.0,1,1050712 Cafe Sprouts Dark Organic 100g x 6,...,0.10073,0.100,1050712,1450.512,1440.0,10.512,0.007300,97977.0,0.015,1.094299e+06
1,44091,2,2024-01-02,Enero,1,2024,Linea A,1.0,1,1036993 Cafe COLCAFE clas. pol. 85gx24 España,...,0.08604,0.085,1036993,412.992,408.0,4.992,0.012235,55498.0,0.015,6.336769e+04
2,44092,2,2024-01-02,Enero,1,2024,Linea A,1.0,1,1003495 POLVO ST 85X24 2.04 ECUADOR,...,0.08572,0.085,1003495,205.728,204.0,1.728,0.008471,55498.0,0.015,7.454951e+04

**Unión de los DataFrames en un DataFrame totalizado**

In [296]:
df_totalizado_Mes = df_Env_Sol_Mes.copy(deep=True)

In [297]:
df_totalizado_Mes[df_totalizado_Mes['Año:'] == 2025].head()

,Año:,Mes:,Codigo,Máquina / Equipo:,Debe_ser_empaque_calculado,Diferencia_calculado,Gramaje (K):,Peso Promedio de la unidad (K):,Real_empaque_calculado,Unidades Producidas (Conformes) :
1085,2025,Abril,1003350,Linea A,22484.50,185.75026,0.250,0.252270,22670.25026,89938.0
1086,2025,Abril,1003351,Linea B,5203.20,48.75888,0.050,0.050573,5251.95888,104064.0
1087,2025,Abril,1003353,Linea A,29008.80,357.85848,0.170,0.171725,29366.65848,170640.0
1088,2025,Abril,1003354,Linea A,16077.24,180.40632,0.085,0.085972,16257.64632,189144.0
1089,2025,Abril,1003355,Linea A,3747.60,50.42544,0.050,0.050680,3798.02544,74952.0

In [298]:
df_costo_semi_Mes.loc[df_costo_semi_Mes['Año:'] == 2025].head()

      Año:   Mes:   Codigo     Ctd.    Impte.ML  Costo/kg
1098  2025  Abril  1003350  23597.0  1412233256   59848.0
1099  2025  Abril  1003351   5297.0   339633046   64118.0
1100  2025  Abril  1003353  30172.0  1805733856   59848.0
1101  2025  Abril  1003354  16656.0   996828288   59848.0
1102  2025  Abril  1003355   3825.0   228918600   59848.0

In [299]:
fc.filas_repetidas(df_totalizado_Mes)

No hay filas duplicadas.

In [300]:
df_totalizado_Mes = fc.unir_dataframes(df_totalizado_Mes, df_costo_semi_Mes)

In [301]:
df_totalizado_Mes[df_totalizado_Mes['Año:'] == 2025].head()

,Año:,Mes:,Codigo,Máquina / Equipo:,Debe_ser_empaque_calculado,Diferencia_calculado,Gramaje (K):,Peso Promedio de la unidad (K):,Real_empaque_calculado,Unidades Producidas (Conformes) :,Ctd.,Impte.ML
1085,2025,Abril,1003350,Linea A,22484.50,185.75026,0.250,0.252270,22670.25026,89938.0,23597.0,1.412233e+09
1086,2025,Abril,1003351,Linea B,5203.20,48.75888,0.050,0.050573,5251.95888,104064.0,5297.0,3.396330e+08
1087,2025,Abril,1003353,Linea A,29008.80,357.85848,0.170,0.171725,29366.65848,170640.0,30172.0,1.805734e+09
1088,2025,Abril,1003354,Linea A,16077.24,180.40632,0.085,0.085972,16257.64632,189144.0,16656.0,9.968283e+08
1089,2025,Abril,1003355,Linea A,3747.60,50.42544,0.050,0.050680,3798.02544,74952.0,3825.0,2.289186e+08

In [302]:
df_totalizado_Mes.head()

,Año:,Mes:,Codigo,Máquina / Equipo:,Debe_ser_empaque_calculado,Diferencia_calculado,Gramaje (K):,Peso Promedio de la unidad (K):,Real_empaque_calculado,Unidades Producidas (Conformes) :,Ctd.,Impte.ML
0,2024,Abril,1003350,Linea A,20901.00,204.41352,0.250,0.252471,21105.41352,83604.0,21302.0,858892520.0
1,2024,Abril,1003351,Linea B,4033.20,72.64944,0.050,0.050992,4105.84944,80664.0,4309.0,175979560.0
2,2024,Abril,1003353,Linea A,9190.20,100.21896,0.170,0.171893,9290.41896,54060.0,9636.0,357938856.0
3,2024,Abril,1003354,Linea A,4084.08,41.53248,0.085,0.086035,4125.61248,48048.0,4548.0,203316833.0
4,2024,Abril,1003355,Linea A,600.00,5.16000,0.050,0.050430,605.16000,12000.0,610.0,22659060.0

In [303]:
df_totalizado_Mes = fc.calcular_columnas_totalizado(df_totalizado_Mes, 0.015)

In [304]:
df_totalizado_Mes.head()

,Año:,Mes:,Codigo,Máquina / Equipo:,Debe_ser_empaque_calculado,Diferencia_calculado,Gramaje (K):,Peso Promedio de la unidad (K):,Real_empaque_calculado,Unidades Producidas (Conformes) :,Ctd.,Impte.ML,Real_empaque,Debe_ser_empaque,Diferencia,Sobrepeso,Meta,Costo/kg,Ahorros_Perdidas
0,2024,Abril,1003350,Linea A,20901.00,204.41352,0.250,0.252471,21105.41352,83604.0,21302.0,858892520.0,21105.41352,20901.00,204.41352,0.009780,0.015,40319.806591,4.441973e+06
1,2024,Abril,1003351,Linea B,4033.20,72.64944,0.050,0.050992,4105.84944,80664.0,4309.0,175979560.0,4105.84944,4033.20,72.64944,0.018013,0.015,40840.000000,-5.052040e+05
2,2024,Abril,1003353,Linea A,9190.20,100.21896,0.170,0.171893,9290.41896,54060.0,9636.0,357938856.0,9290.41896,9190.20,100.21896,0.010905,0.015,37146.000000,1.413199e+06
3,2024,Abril,1003354,Linea A,4084.08,41.53248,0.085,0.086035,4125.61248,48048.0,4548.0,203316833.0,4125.61248,4084.08,41.53248,0.010169,0.015,44704.668646,8.909349e+05
4,2024,Abril,1003355,Linea A,600.00,5.16000,0.050,0.050430,605.16000,12000.0,610.0,22659060.0,605.16000,600.00,5.16000,0.008600,0.015,37146.000000,1.438673e+05

In [305]:
#Eliminar el Codigo 1055015 tomando su indice
indices_to_drop = df_totalizado_Mes[(df_totalizado_Mes['Codigo'] == "1055015")].index
df_totalizado_Mes.drop(indices_to_drop, inplace=True)

In [306]:
df_totalizado_Mes.head()

,Año:,Mes:,Codigo,Máquina / Equipo:,Debe_ser_empaque_calculado,Diferencia_calculado,Gramaje (K):,Peso Promedio de la unidad (K):,Real_empaque_calculado,Unidades Producidas (Conformes) :,Ctd.,Impte.ML,Real_empaque,Debe_ser_empaque,Diferencia,Sobrepeso,Meta,Costo/kg,Ahorros_Perdidas
0,2024,Abril,1003350,Linea A,20901.00,204.41352,0.250,0.252471,21105.41352,83604.0,21302.0,858892520.0,21105.41352,20901.00,204.41352,0.009780,0.015,40319.806591,4.441973e+06
1,2024,Abril,1003351,Linea B,4033.20,72.64944,0.050,0.050992,4105.84944,80664.0,4309.0,175979560.0,4105.84944,4033.20,72.64944,0.018013,0.015,40840.000000,-5.052040e+05
2,2024,Abril,1003353,Linea A,9190.20,100.21896,0.170,0.171893,9290.41896,54060.0,9636.0,357938856.0,9290.41896,9190.20,100.21896,0.010905,0.015,37146.000000,1.413199e+06
3,2024,Abril,1003354,Linea A,4084.08,41.53248,0.085,0.086035,4125.61248,48048.0,4548.0,203316833.0,4125.61248,4084.08,41.53248,0.010169,0.015,44704.668646,8.909349e+05
4,2024,Abril,1003355,Linea A,600.00,5.16000,0.050,0.050430,605.16000,12000.0,610.0,22659060.0,605.16000,600.00,5.16000,0.008600,0.015,37146.000000,1.438673e+05

**Codigo para generar archivo de busqueda para Envase Soluble**

In [ ]:
#eliminar_duplicados
df_Codigos_Env_Sol = fc.eliminar_duplicados_columna(df_Env_Sol, 'Codigo')
df_Codigos_Env_Sol['Codigo'].unique()

array(['1050712', '1036993', '1003495', '1003354', '1035163', '1036086',
       '1036085', '1035162', '1043503', '1003496', '1003355', '1064489',
       '1035164', '1058635', '1003353', '1034633', '1003350', '1014989',
       '1011228', '1058118', '1065297', '1036080', '1014990', '1014991',
       '1064451', '1064467', '1035545', '1013910', '1035434', '1065083',
       '1064802', '1064801', '1030755', '1003351', '1033931', '1033932',
       '1034530', '1036089', '1034529', '1059907', '1036079', '1035538',
       '1033009', '1003509', '1003593', '1030757', '1034632', '1023722',
       '1059904', '1059909', '1030758', '1035468', '1032133', '1045032',
       '1035814', '1036233', '1003757', '1065335', '1035469', '1032134',
       '1036081', '1035544', '1035287', '1035543', '1036234', '1035815',
       '1033008', '1035286', '1035540', '1034638', '1032596', '1047939',
       '1003521', '1056520', '1035284', '1035285', '1035532', '1003535',
       '1064969', '1003377', '1034794', '1035467', '1064332', '1032132',
       '1069604', '1035533', '1003570', '1036232', '1035813', '1064331',
       '1059906', '1013909', '1035466', '1036078', '1034154', '1014306',
       '1034792', '1064466', '1055565', '1027720', '1014992', '1034853',
       '1035541', '1050715', '1035549', '1044235', '1034532', '1035883',
       '1035547', '1064333', '1064330', '1035546', '1035548', '1065764',
       '1070899', '1071048', '1070892', '1071047', '1070900', '1070893',
       '1070897', '1071051', '1070898', '1026524', '1057868', '1057869',
       '1070896', '1050714', '1024586', '1070922', '1070127', '1070128',
       '1049921', '1062103', '1071203', '1068611', '1071204', '1059902',
       '1070419', '1005757', '1035433', '1050713', '1068362', '1003364',
       '1072113', '1072114', '1072115', '1074283', '1008136', '1074254',
       '1069818', '1073744', '1074236', '1073827', '1073826', '1073891',
       '1072236', '1072237', '1075625', '1074284', '1018785', '1076641',
       '1076939', '1069342', '1062102'], dtype=object)

In [308]:
df_Codigos_Env_Sol.head()

       Codigo
9773  1050712
9774  1036993
9775  1003495
9776  1003354
9781  1035163

In [309]:
df_Maquinas_Env_Sol = fc.eliminar_duplicados_columna(df_Env_Sol, 'Máquina / Equipo:')
df_Maquinas_Env_Sol.head()

     Máquina / Equipo:
9773           Linea B
9774           Linea A

In [310]:
df_Codigos_Env_Sol_COOISPI = fc.eliminar_duplicados_columna(df_COOISPI_COMB, 'Codigo')
df_Codigos_Env_Sol_COOISPI['Codigo'].unique()

array(['1035434', '1050715', '1050712', '1003496', '1003495', '1033932',
       '1036993', '1034794', '1036234', '1036079', '1036080', '1036085',
       '1036086', '1034633', '1035164', '1035538', '1035540', '1035543',
       '1035545', '1036089', '1035163', '1003757', '1035544', '1047939',
       '1035162', '1003354', '1064489', '1034530', '1003521', '1003535',
       '1034529', '1035467', '1035468', '1036232', '1064331', '1064332',
       '1003593', '1013909', '1032132', '1032133', '1033931', '1035469',
       '1003509', '1035466', '1035813', '1035814', '1036233', '1003570',
       '1013910', '1032134', '1023722', '1035532', '1035533', '1055015',
       '1036081', '1059904', '1034632', '1059902', '1003350', '1003355',
       '1011228', '1014989', '1014990', '1014991', '1030755', '1043503',
       '1058118', '1058635', '1064467', '1065297', '1065083', '1035284',
       '1035285', '1035286', '1035287', '1035815', '1003351', '1003353',
       '1030757', '1030758', '1033009', '1045032', '1059907', '1059909',
       '1064451', '1064801', '1064802', '1065335', '1032596', '1033008',
       '1034638', '1056520', '1036078', '1034792', '1003377', '1059906',
       '1064969', '1069604', '1057868', '1057869', '1064333', '1064330',
       '1035541', '1035546', '1035547', '1035548', '1035549', '1035883',
       '1027720', '1034532', '1034853', '1064466', '1014306', '1034154',
       '1055565', '1014992', '1065764', '1050714', '1026524', '1070898',
       '1070897', '1070899', '1070900', '1070892', '1071051', '1071047',
       '1071048', '1070893', '1070896', '1050713', '1049921', '1062103',
       '1068611', '1070127', '1070128', '1070922', '1024586', '1071204',
       '1071203', '1059901', '1070419', '1035433', '1068362', '1072113',
       '1072114', '1072115', '1074283', '1074254', '1069818', '1073744',
       '1073826', '1073827', '1073891', '1072236', '1072237', '1075625',
       '1074284', '1018785', '1076641', '1076939', '1062102', '1069342'],
      dtype=object)

**Codigos que están en TPM pero no están en la COOISPI**

In [311]:
df_Env_Sol_Codigos_unicos = df_Codigos_Env_Sol[~df_Codigos_Env_Sol['Codigo'].isin(df_Codigos_Env_Sol_COOISPI['Codigo'])]
df_Env_Sol_Codigos_unicos.head()

        Codigo
10168  1044235
10912  1005757
11421  1003364
12095  1008136
12340  1074236

**Generación de un archivo de fechas automáticas**

In [312]:
df_Fechas = fc.generar_fechas("2024-01-01")
df_Fechas.tail()

         Fecha
549 2025-07-03
550 2025-07-04
551 2025-07-05
552 2025-07-06
553 2025-07-07

**Rutas de códigos totales para definición de metas**

In [313]:
df_pivot_Codigos.to_excel(r'G:\.shortcut-targets-by-id\1rqpfbdZ6z51epFv6ZwognhckW7HqBMjN\SIRI_2024_INFORMES_SOBREPESO\INFORME_ENVASE_SOLUBLE_MEDELLIN\Codigos_Totales.xlsx', sheet_name='Hoja1', index=False)

In [ ]:
# # print(df_Env_Sol.shape)
# # print(df_COOISPI_COMB.shape)
# # print(df_Env_Sol_Mes.shape)
# print(df_Codigos_Env_Sol.shape)
# print(df_Maquinas_Env_Sol.shape)
# # print(df_totalizado_Mes.shape)
# print(df_Fechas.shape)
# print(df_Env_Sol_2.shape)
# print()
# print(df_Env_Sol_Nov_Sobrepeso.shape)
# print(df_Env_Sol_Codigos_nan.shape)
# print(df_Env_Sol_Codigos_unicos.shape)
# print(df_Env_Sol_nan_ceros.shape)
# print(df_non_conver.shape)
# print()
# print(df_Env_Sol_2.shape)
# print(df_Costo_Mp_Env_Sol.shape)
# print(df_Cost_Finan_Mp.shape)
# print(df_Costos_merged.shape)
# print(df_Financiera_Mp_melted.shape)
# print(df_Financiera_Mp.shape)
# print(df_Costos_Mp.shape)

(165, 1)
(2, 1)
(554, 1)
(4674, 21)

(0, 18)
(0, 14)
(5, 1)
(0, 14)
(0, 13)

(4674, 21)
(4674, 5)
(7110, 37)
(7110, 34)
(972, 5)
(81, 15)
(171, 15)

**Consolidado csv**

In [315]:
# #Ruta para consolidado df_Env_Sol_2
# df_Env_Sol_2.to_csv(Ruta_Env_Sol + "DB_Envase_Soluble_Out_vf.csv", index=False)

In [316]:
#Diccionario de hojas para el archivo de consolidado
dataframes_consolidado = {
    # "Hoja1": df_Env_Sol,
    # "Hoja2": df_COOISPI_COMB,
    # "Hoja3": df_Env_Sol_Mes,
    "Hoja4": df_Codigos_Env_Sol,
    "Hoja5": df_Maquinas_Env_Sol,
    # "Hoja6": df_totalizado_Mes,
    "Hoja7": df_Fechas,
    "Hoja8": df_Env_Sol_2
}
#Actualizar hojas del excel de Consolidado_V2
fc.actualizar_hojas_excel(Ruta_Consolidados, dataframes_consolidado)

Procesando Consolidado...
✅ Las hojas en el Archivo de Consolidado han sido limpiadas y actualizadas correctamente.

**Archivo de novedades: este archivo compila las diferentes novedades presentes en los archivos de TPM**

In [ ]:
#Diccionario de hojas para el archivo de novedades
dataframes_novedades = {
    "Sobrepeso mayor  50%": df_Env_Sol_Nov_Sobrepeso,          #Novedades de sobrepeso
    "Codigos Nulo TPM": df_Env_Sol_Codigos_nan,                #Novedades codigos nulos
    "Codigos unicos en TPM": df_Env_Sol_Codigos_unicos,        #Codigos presentes es TPM y no en la COOISPI
    "Codigos NA,Vacio, 0": df_Env_Sol_nan_ceros,               #Valores nulos o ceros para gramaje, unidades producidas y promedio peso unidad
    "Errores": df_non_conver,                                  #Valores no convertibles (NaN)
}
#Guardar el archivo de Novedades
fc.crear_archivo_novedades(Ruta_Novedades, dataframes_novedades)

Procesando Novedades...
✅ El Archivo de Novedades guardado exitosamente con 5 hojas guardadas correctamente.